.navbar {
  color: rgba(83, 228, 83, 0.959);
  background-color: rgba(24, 23, 23, 0.795);
}
.list-group-flush .list-group-item {
  border-radius: 10px;
  z-index: 0;
  background: transparent;
}
.left-25px {
  margin-left: 25px;
}
.round {
  border: 2px Solid green;
  border-radius: 50px;
  z-index: 100;
}
.container .round {
  padding-bottom: 20px;
}
.name {
  text-decoration: underline;
}
.jumbotron {
  background-color: #f3f2c7;
}
#root {
  background-color: #f3f2c7;
}

.btn-success {
  color: #fff;
  background-color: #217c35;
  border-color: #217c35;
}
.dropdown-menu {
  background-color: #a1ae9d;
}
.dropdown-item {
  color: #fdfdfd;
}
.logout {
  color: #cb2737;
  font-weight: 700;
  text-decoration: underline;
}
